<div class="container p-4 signin">
    <div class="row">
        <div class="col-me-4 mx-auto text-center">
            <p class="contact-info">
                Virtual ON <br>
                Santa Cruz de Tenerife <br>
                Rambla Pulido, 12, 38004 <br>
                922 89 41 11<br>
            </p>
            <p class="contact-info text-center">Contact us via email</p>
            <a href="mailto: hola@virtualon.es" class="btn btn-dark mb-4 mail"><i class="fas fa-envelope"></i></a>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28061.769696995543!2d-16.30384412979079!3d28.457819279158237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc41cc83e3440001%3A0x580c9f4a67d1028e!2sCanary%20Virtual%20Place!5e0!3m2!1ses!2ses!4v1620400923816!5m2!1ses!2ses"
                width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="box-social">
                <a href="https://www.facebook.com/virtualoncanarias" target="_blank"><i
                        class="fa fa-facebook fa-2x social-icons"></i></a>
                <a href="https://twitter.com/virtualongaming" target="_blank"><i
                        class="fa fa-twitter fa-2x social-icons"></i></a>
                <a href="https://www.instagram.com/virtualon_canarias/" target="_blank"><i
                        class="fa fa-instagram fa-2x social-icons"></i></a>
            </div>
        </div>
    </div>
</div>