<div class="container p-4 text-center signin">
    <a class="twitter-timeline" data-height="450" data-theme="light"
        href="https://twitter.com/virtualongaming?ref_src=twsrc%5Etfw">Tweets by virtualongaming</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="box-social">
        <a href="https://www.facebook.com/virtualoncanarias" target="_blank"><i
                class="fa fa-facebook fa-2x social-icons"></i></a>
        <a href="https://twitter.com/virtualongaming" target="_blank"><i
                class="fa fa-twitter fa-2x social-icons"></i></a>
        <a href="https://www.instagram.com/virtualon_canarias/" target="_blank"><i
                class="fa fa-instagram fa-2x social-icons"></i></a>
    </div>
</div>