<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center arriba">
            <img src="/img/logo-blanco-peq.png" alt="">
            
            <h1 class="mb-1">VIRTUAL ON</h1>
            <h3 class="mb-5">
                <em>Virtual Reality in <br>Canary Island</em>
            </h3>
            
            <a href="/signup" class="btn btn-success">Let's get started!
            </a>
            <video class="video" src="/vid/vid-1.mp4" muted loop autoplay></video>
        </div>

    </header>
</main>

