<div class="container p-4 signin">
    <div class="row">
        <div class="col-me-4 mx-auto">
            <div class="card text-center ">
                <div class="card-header">
                    <h3>SignIn</h3>
                    <div class="box-social">
                        <a href="https://www.facebook.com/virtualoncanarias" target="_blank"><i
                                class="fa fa-facebook fa-2x social-icons-2"></i></a>
                        <a href="https://twitter.com/virtualongaming" target="_blank"><i
                                class="fa fa-twitter fa-2x social-icons-2"></i></a>
                        <a href="https://www.instagram.com/virtualon_canarias/" target="_blank"><i
                                class="fa fa-instagram fa-2x social-icons-2"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Username" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">SignIn</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>